@media screen and (min-width: 992px) {
 
    .FooterContainer {
width:1240px;
height: 500px;
margin: auto;

    }
    .FooterLogo {
width: 404px;
top: 80px;
position:relative;
    }
    .FooterTitle {
        width: auto;
        position: relative;
        top: 80px;
    }
    .Footertext {
        display: flex;
        flex-direction: row;
        width: 1240px;
        margin: auto;
        text-align: center;
        font-family: 'Dominik Thin';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        top: 30px;
        position: relative;
    }
    .FooterContactContainer {
        width: 420px;
        border: 2px;
        border-color: black;
        border-style: dashed;
        font-size: 25px;
       
    }
}

@media screen and (max-width: 991px) {
    .FooterContainer {
        width:400px;
        height: auto;
        margin: auto;
        position: relative;
       
            }

    .FooterLogo {
        width: 404px;
        top: 10px;
        position:relative;
            }
    
    .FooterTitle {
                width: 400px;
            }

    .Footertext {
                display: flex;
                flex-direction: column;
                width: 400px;
                margin: auto;
                text-align: center;
                font-family: 'Dominik Thin';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                top: 10px;
                position: relative;
            }
            .FooterContactContainer {
                width: 400px;
                border: 2px;
                border-color: black;
                border-style: dashed;
            }
}